.go_user_Login {
    border: 0.5px solid green;
    width: 400px;
    margin: auto;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: darkgreen;
    color: white;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    font-size: 20pt;
}

.go_user_Login:HOVER {
	cursor : pointer;
	box-shadow : 1px 1px 5px grey;
}