@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

#footer{
	position: absolute;
	top : 50px;
	left: 1000px;
	
	padding-top : 25px;
	
	width : 200px;
	height: 100%;
	
	background : #69B55B;
	color : white;
	
}

.sidebar_list{
	margin : 0px;
	padding : 0px;
	list-style: none;
}

.footer-menu{
	width : 200px;
	height : 40px;
	
	margin : 0px;
	padding-top : 5px;
	padding-bottom : 5px;
	line-height : 40px;
	
	background : #69B55B;
}

.footer-menu:HOVER{
	background : #E6F4B5;
}

.bottom-menu{
	width : 170px;
	height : 50px;
	margin-bottom : 10px;
	margin-left: 30px;
}

.group-menu{
	width : 170px;
	height : 30px;
	margin-bottom : 10px;
	margin-left: 30px;
}

.top_menu{
	font-size : 16pt;
	color: white;
	text-decoration: none;
	margin-left: 25px;
	
	font-family: Noto Sans KR;
	font-weight: bold;
}

.iProject {
	line-height: 7px;
	
	font-size: 10pt;
}

.iProject a{
	color : green;
	font-weight: bold;
	text-decoration: none;
}

.groupMenu {
	line-height: 7px;
	
	font-size: 10pt;
}

.groupMenu a{
	color : white;
	text-decoration: none;
}

.searchbox {
	width : 150px;
	margin-left: 10px;
}