#sys_header{
	position: absolute;
    top: 0px;
    left: 0px;
    background: white;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: auto;
    text-align: center;
}

.admin_menu {
    float: right;
    line-height: 30px;
    margin-right: 30px;
}

.admin_menu span {
    font-size: 10pt;
    margin-right: 10px;
}

.sysHeader_logo {
    width: 200px;
    position: relative;
    right: -150px;
}

