  #header {
 	position : absolute;
 	top: 0px;
 	left : 0px;
 	
 	background : /* #E6F4B5 */white;
 	/* border-bottom : 1px solid #69B55B; */
 	
 	width : 100%;
 	height : 40px;
 	
 	padding-top : 5px;
 	padding-bottom : 5px;
	text-align : center;
	
	min-width: 700px;
 }
 
 .header_btn {
	display: inline-block;
    padding: 2px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.user_logout {
	color: #fff;
	font-size: 14px;
	
    background-color: #5cb85c;
    border-color: #4cae4c;
    
    margin-right : 30px;
}

.user_calendar{
	float : left;
	margin-top : 5px;
	padding-left : 10px;
	
	width : 30px;
	height : 30px;
}

.user_calendar:HOVER{
	cursor : pointer;	
}

.user_logo{
	margin-top : 5px;
	position : relative;
	right : -55px;
	clear : both;
	
	width : 200px;
	height : 35px;
}

.user_logo:HOVER{
	cursor:pointer;
}

.user_menu{
	float : right;
	margin-top : 7px;
}

.user_edit{
	font-size: 10pt;
	color : grey;
	position: relative;
    top: 5px;
	margin-right : 5px;
}

.user_edit a{
	color : black;
	font-weight : bold;
	text-decoration: none;
}

.side_menu_toggle{
	float : right;
	padding-right : 30px;
	
	width : 30px;
	height : 30px;
}

.side_menu_toggle:HOVER{
	cursor : pointer;
}
