 #header {
 	position : absolute;
 	top: 0px;
 	left : 0px;
 	
 	background : #E6F4B5;
 	border-bottom : 1px solid #69B55B;
 	
 	width : 1200px;
 	height : 40px;
 	padding : 5px;
 	
 } 
 .header_btn {
	display: inline-block;
    padding: 2px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.user_logout {
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    
    position: absolute;
    top: 12px;
    left : 1030px;
}

.user_calendar{
	position: relative;
	top : 5px;
	left : 15px;
	
	width : 30px;
	height : 30px;
}

.user_logo{
	position: absolute;
	top : 10px;
	left : 500px;
	
	width : 200px;
	height : 35px;
}

.user_edit{
	position: absolute;
	top : 17px;
	left : 900px;
	
	font-size: 10pt;
	color : grey;
}

.user_edit a{
	color : black;
	font-weight : bold;
	text-decoration: none;
}

.side_menu_toggle{
	position : absolute;
	top : 10px;
	left : 1150px;
	
	width : 30px;
	height : 30px;
}
