<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pm.rc.manager">

	<select id="grApplySelect" resultType="java.util.Map">
		SELECT G.GR_ID, G.GR_NAME, M.MEM_NAME,TO_CHAR(G.GR_REGDATE, 'YYYYMMDD') GR_REGDATE
		FROM RC_GROUP G, RC_MEMBER M
		WHERE G.GR_APPYN = 'N'
		AND M.MEM_ID = (SELECT GM.MEM_ID FROM RC_GROUPMEM GM WHERE GM.GR_ID =G.GR_ID AND GM.GR_LEVEL = 'GM')
		AND G.GR_DELYN = 'N'
	</select>
	
	<update id="grAppModify" parameterType="java.lang.String">
	UPDATE RC_GROUP SET GR_APPYN = 'Y'
	WHERE GR_ID = #{gr_id}
	</update>
	
	<delete id="grDelete" parameterType="java.lang.String">
	DELETE FROM RC_GROUP	
	WHERE GR_ID = #{gr_id}
	</delete>
	
	<delete id="grDelete2" parameterType="java.lang.String">
	DELETE FROM RC_GROUPMEM
	WHERE GR_ID = #{gr_id}
	</delete>
	
</mapper>
