<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pm.rc.scheduleMapper">

	<!-- 팀 일정 등록 -->
	<insert id="teamSchInsert">
		INSERT INTO RC_SCHEDULE (SCH_SEQ, PR_ID, SCH_TITLE, SCH_CONTENT, SCH_STARTDATE, SCH_ENDDATE, SCH_PROSYN)
		VALUES
		(SCHEDULE_SEQ.NEXTVAL, #{pr_id}, #{sch_title}, #{sch_content}, TO_DATE(#{sch_startDate}, 'YYYYMMDD'),
		TO_DATE(#{sch_endDate}, 'YYYYMMDD'), 'Y')
	</insert>

	<!-- 개인 일정 등록 -->
	<insert id="schInsert">
		INSERT INTO RC_SCHEDULE (SCH_SEQ, SCH_TITLE, SCH_STARTDATE, SCH_ENDDATE, SCH_CONTENT, MEM_ID, SCH_PROSYN)
		VALUES
		(SCHEDULE_SEQ.NEXTVAL, #{sch_title}, TO_DATE(#{sch_startDate},'YYYY-MM-DDHH24:MI'), TO_DATE(#{sch_endDate}, 'YYYY-MM-DDHH24:MI'), #{sch_content}, #{mem_id}, 'N')
	</insert>
	
	<!-- 일정 수정 -->
	<update id="schModify">
		UPDATE RC_SCHEDULE SET SCH_TITLE = #{sch_title}, SCH_CONTENT = #{sch_content}, SCH_STARTDATE = TO_DATE(#{sch_startDate}, 'YYYYMMDD'),
		SCH_ENDDATE = TO_DATE(#{sch_endDate}, 'YYYYMMDD')
		WHERE SCH_SEQ = #{sch_seq}
	</update>
	
	<!-- 일정 삭제 -->
	<delete id="schDelete">
		UPDATE RC_SCHEDULE SET SCH_DELYN = 'Y'
		WHERE SCH_SEQ = #{sch_seq}
	</delete>

</mapper>
