#con_body{
	border-top: 0.5px solid lightgrey;
	border-bottom: 0.5px solid lightgrey;
    margin-bottom: 10px;
}

.mem_manage{
	display : none;
}
	
.calendar_manage{
	height : 600px;
	display : none;
}
	
.mem_list {
    width: 95%;
    height: 300px;
    overflow: auto;
    border: 0.5px solid lightgrey;
}
	
.project_manage_table {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 10px;
    border-collapse: collapse;
}

.project_manage_table th{
	background-color: #F8F8F8;
    width: 30%;
    padding-left: 20px;
}

.project_manage_table td {
    text-align: left;
    height: 30px;
    padding-left: 20px;
}

.project_manage_table input[type=text] {
   	width: 300px;
    height: 80%;
    font-size: 11pt;
    text-align: center;
}

.project_manage_table input[type=date] {
    width: 300px;
    height: 80%;
    font-size: 11pt;
    font-weight: 600;
    text-align: center;
}

.project_manage_table select {
    width: 300px;
    height: 80%;
    font-size: 11pt;
}

.project_manage_table textarea {
    width: 300px;
    height: 100px;
    resize: none;
}

.pr_info_edit_btn{
	color: white;
    padding: 1px 10px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-size: 12pt;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.pr_delete_btn{
	color: white;
    padding: 1px 10px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-size: 12pt;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.gPr_manage_btn {
    width: 25%;
    height: 40px;
    float: left;
    border: 0.3px solid #e4efd8;
    background-color: #5cb85c;
    color: white;
    font-size: 15pt;
    font-weight: bold;
}

.gPr_manage_btn:HOVER {
    background-color: #e4efd8;
    color: #317131;
    font-size: 15pt;
    font-weight: bold;
}

.info_manage {
    padding-top: 25px;
}

#mem_list {
    padding-top: 25px;
    width: 250px;
    margin-left: 30px;
    margin-right: 15px;
    display: inline-block;
    float: left;
}

.mem_manage {
    padding-top: 30px;
    margin: 0 auto;
    width: 80%;
}

#invitable_Memlist {
    float: left;
    width: 250px;
    border: 0.5px solid lightgrey;
    padding-top: 25px;
    margin-top: 67px;
}

#mem_control {
    float: right;
    width: 200px;
    padding-top: 25px;
    border: 0.5px solid lightgrey;
    margin-top: 67px;
}



