@import url(user_Project.css);
@import url(user_Worklist.css);

body {
	overflow: auto;
	padding : 0;
}

#container {
	position : absolute;
	top : 50px;
	left : 0px;
	
	padding : 5px;
	width : 1000px;
	
	margin : 0 auto;
	
}

.body_btn{
	display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
}

