.pr_settings{
	position : absolute;
	top : 1%;
	right : 2%;
}

#work_list_area{
	text-align: center;
}

.list_field{
	width : 100%;
	height : 100%;
	margin : 0 auto;
	background : #E6E6E6;
}

.title_area{
	margin : 0 auto;
	width : 100%;
	height : 10%;
}

.title_area span{
	font-size: 18pt;
	font-weight: bold;
	
	color : black;
}

.list_area{
	margin : 0 auto;
	width : 100%;
	height : 90%;
}

.work_list{
	width : 300px;
	height : 600px;
	
	display : inline-block;
	margin : 0 auto;
}

.list_area table{
	width : 95%;
	font-size : 9pt;
	margin: 0 auto;
	border-spacing: 0px 5px;
}

.work{
	height : 50px;
	background : white;
}

#add_work{
	cursor : pointer;
}
.work img{
	width : 35px;
	height : 35px;
}

.work td:first-child{
	border-top-left-radius : 10px;
	border-bottom-left-radius : 10px;
}

.work td:last-child{
	border-top-right-radius : 10px;
	border-bottom-right-radius : 10px;
}

.workInsert_Form {
	display: none;
	text-align: center;
}

#wk_insert_div{
	width : 380px;
	height: 270px;
	float : left;
	margin : 0 auto;
}

#wk_insert_form table{
	text-align: left;
	border-collapse: collapse;
	padding : 5px;
	margin: 0 auto;
	margin-top : 30px;
}

#wk_insert_form th {
	width : 35%;
	border-bottom : 0.5px solid lightgrey;
	padding : 5px;
}

#wk_insert_form td {
	width : 65%;
	border-bottom : 0.5px solid lightgrey;
	padding : 5px;
}

.workInsert_btn{
	color : white;
	padding: 2px 5px;
    margin-bottom: 5px;
	background-color: #5cb85c;
    border-color: #4cae4c;
    font-size : 20pt;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-top : 15px;
}

.workInsert_mem_btn{
	color : white;
	padding: 1px 3px;
	background-color: #5cb85c;
    border-color: #4cae4c;
    font-size : 15pt;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 3px;
}

.wd_title {
	cursor: pointer;
}

.work_Edit_Form {
	display: none;
}

.promem_list {
	float : right;
	width : 200px;
	height : 270px;
	border-left: 0.5px solid #D8D8D8;
}

.promem_list table {
	border-collapse: collapse;
	margin: 0 auto;
	width : 90%;
	margin-top : 20px;
}

.promem_list th,td,tr {
	border-top: 0.5px solid #D8D8D8;
	border-bottom : 0.5px solid #D8D8D8;
}

.project_manage {
	display: none;
}

#allProgress{
	width: 100%;
	background-color: #ddd;
}

#partProgress{
	width: 0px;
	height: 30px;
	background-color: #4CAF50;
  	text-align: center;
  	line-height: 30px;
  	color: white;
}

#wd_modal{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#work_Detail{
	background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width : 80%;
    width: 90%; /* Could be more or less, depending on screen size */
    text-align: right;
}

#work_Detail_Insert{
	width : 500px;
	height : 20px;
	border : 1px solid black;
}

#wd_Field{
	width : 70%;
	height : 300px;
	float : left;
}

.work_Attach_View{
	width : 30%;
	height : 300px;
	float : right;
}

.work_Attach_View{
	clear : both;
}
